.gradient-bg-color{
    -webkit-gradient(linear,right bottom,left top,from(#ff8a00),to(#da1b60));
    background-image: linear-gradient(to top left,#716bde,#716bde);
}
.box-primary{
    border-top-color: #7366d5 !important;
}

body{
    font-size: 12px;
}

@media (max-width: 600px) {
    th {
        font-size: 10px;
    }

}

@media (min-width: 756px) {
    .new-button{
        margin: 3px 10px 12px;
    }
}
.logo {
    border-right:1px white solid;
}

@media (max-width: 992px) {
.new-button{
    margin: 5px 10px 25px;
}

}

.isDisabled a {
    color: currentColor;
    cursor: not-allowed !important;
    opacity: 0.5;
    text-decoration: none;
}
h3 {
    font-size: 16px !important;
}

i,#status {
    cursor: pointer;
}

a span,.status
{
    margin-left: 10px;
}
.select2 {
    width: 100% !important;
}

@media (max-width: 360px) {
    .timeline-item{
        min-width: 100%;
        margin-left: 0px !important;
    }
    .box-body {
        padding: 0px;
    }
}

.center{
  text-align: center;
}

.left_25{
    margin-left: 25%;
}

.left{
  text-align: left;
}

.left_20{
    margin-left: 20%;
}

.justify{
  text-align: justify;
}


.right{
  text-align: right;
}

.left_10{
    margin-left: 10%;
}

.left_15{
    margin-left: 15%;
}

.right_10{
    margin-right: 10%;
}

#leftImage {
  top: 20px; /* your required value */
  left: 0;
  width: 150px;
  height: 100%;
  position: fixed;
}

#rightImage {
  top: 20px; /* your required value */
  right: 0;
  width: 150px;
  height: 100%;
  position: fixed;
}
